* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Didact Gothic';
}
.wrapper {
  overflow-x: hidden;
}
/* SLIDER */
.slider {
  display: flex;
  transition: transform .4s ease;
}
.sliderSection {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}
.sliderSectionProduct {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sliderSectionProductImg {
  display: block;
}
.sliderTextHead {
  font-size: 40px;
}
.sliderTextBody {
  font-size: 27px;
  padding-top: 10px;
}
.sliderTextFooter {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sliderTextFooter p {
  font-size: 27px;
}
/* BUTTONS */
.sliderButtons {
  text-align: center;
}
.Button {
  font-size: 20px;
  cursor: pointer;
  padding: 2px 20px;
  border: 0;
  border-radius: 40px;
  transition: transform 100ms linear;
}
#left:active {
  transform: translateX(-1px);
}
#right:active {
  transform: translateX(1px);
}
#add, #remove{
  cursor: pointer;
  border: 0;
  font-size: 25px;
  padding: 0px 15px;
  border-radius: 40px;
  transition: transform 90ms linear;
}
#add:active, #remove:active {
  transform: translateY(1px);
}
/* MEDIA */
@media screen and (max-width:850px) {
  .sliderSectionProduct {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width:301px) {
  .sliderTextBody {
    display: none;
  }
}